*{ 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
   }
.head{
    background-color: black;
    color: white;
    text-indent: 20px;
    width: 100%;
    
    
}
h1{
    font-weight: bold;
    font-size: 30px;
    padding: 1%;
    
}
.head ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.head li{
    float: right;
    
}
.head li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-right: 30px;
    
}
.body{
    background-color: rgb(223, 207, 210);
    padding: 50px;
}
img{
    border-radius: 50%;
    width: 200px;
    margin-left: 30px;
    border: 1px solid black;
    position: relative;
}
.body p{
    position: absolute;
    top: 240px;
    left: 300px;
}
.body2{
    background-color: white;
    padding: 20px;
    
}
h3{
   line-height: 50px;
} 
span {
    display: inline-block;
    width: 370px;
    height: 50px;
    background-color:black;
    color: white;
    text-align: center;
    border-radius: 5px;
    
    

}
.body2 a{
    color: white;
    text-decoration: none;
    line-height: 50px;
    
    
}
.foot{
    background-color: rgb(223, 207, 210);
    text-align: center;
    padding: 15px;

}
.foot a{
    text-decoration: none;
    color: black ;
    font-weight: bold;
}